:root {
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Leckerli One', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: rgb(216, 191, 216);
  background: linear-gradient(
    180deg,
    rgba(216, 191, 216, 1) 30%,
    rgba(91, 33, 182, 0.7) 100%
  );
  max-width: 100%;
  overflow-x: hidden;
}

.heading {
  text-align: center;
  padding: 1rem 3rem;
  margin-bottom: 1.5rem;
}

.heading > h1 {
  padding-right: 1rem;
  color: slateblue;
  font: 2.6em var(--secondary-font);
}

.heading > h4 {
  font: 400 1.8em var(--primary-font);
  color: #1b1b1b;
}

/* CALL TO ACTION STYLES */

.call-to-action-text {
  padding: 0 3.5rem;
  margin-bottom: 2rem;
}
.call-to-action-text > p,
span > p {
  line-height: 32px;
  text-align: center;
  color: #1b1b1b;
  font: 500 1em var(--primary-font);
}
span > p {
  padding-top: 0.5rem;
}

.container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  width: 100%;
}

.searchBtn {
  background-color: slateblue;
  padding: 0.4rem 0.5rem;
  margin-left: 1rem;
  color: thistle;
  font: 700 0.7em var(--primary-font);
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
}

.searchBtn:hover {
  color: whitesmoke; /* #4c4c4c */
  transition: 100ms ease-in;
}

.searchBar {
  font: 400 0.9em var(--primary-font);
  width: 17rem;
  background: inherit;
  border: none;
  border-bottom: 2px solid rgba(216, 191, 216, 1);
  border-radius: 2rem;
  padding: 0.5rem;
  padding-left: 1rem;
  opacity: 0.8;
  color: #1b1b1b;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.searchBar:focus {
  opacity: 1;
  outline: none;
}

::placeholder {
  color: #4c4c4c;
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: rgb(119, 104, 216);
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

/* Icon Hang */
@-webkit-keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
.hvr-icon-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-hang .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-hang:hover .hvr-icon,
.hvr-icon-hang:focus .hvr-icon,
.hvr-icon-hang:active .hvr-icon {
  -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* GIFs styles */

.gifs-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  grid-gap: 3rem;
  padding: 1.5rem;
}

.gif-card {
  padding: 1.9rem;
  background: rgba(91, 33, 182, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gif {
  width: 280px;
  height: 280px;
}

.gif-title {
  color: #1b1b1b;
  font: 600 0.9em var(--primary-font);
  text-align: center;
  text-transform: capitalize;
  padding-top: 2rem;
}

.gif-download {
  margin-top: 1rem;
  text-align: center;
  border: none;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  background-color: #c7aad3;
  border-radius: 0.4rem;
}

.gif-download > h4 {
  color: #4c4c4c;
  font: 600 0.8em var(--primary-font);
  padding-left: 0.3rem;
}
