:root {
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Leckerli One', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: thistle;
}

.heading {
  font: 400 1.8em var(--primary-font);
  color: #1b1b1b;
  padding: 1rem;
  text-align: center;
}

.heading > span {
  padding-right: 1rem;
  color: slateblue;
  font: 2.5em var(--secondary-font);
}

/* CALL TO ACTION STYLES */

.call-to-action {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.call-to-action-text {
  margin-bottom: 2rem;
}
.call-to-action-text > p,
span > p {
  text-align: center;
  color: #1b1b1b;
  font: 400 1em var(--primary-font);
}
span > p {
  padding-top: 0.5rem;
}

.call-to-action > button {
  background-color: inherit;
  outline: 2px solid #ff917e;
  padding: 0.7rem 1rem;
  margin-left: 1rem;
  color: slateblue;
  font: 600 1em var(--primary-font);
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

.call-to-action > button:hover {
  opacity: 0.7;
  color: whitesmoke;
  transition: 100ms ease-in;
}

.searchBar {
  font: 400 0.9em var(--primary-font);
  width: 20rem;
  background: inherit;
  border: 2px solid slateblue;
  border-radius: 2rem;
  padding: 0.5rem;
  opacity: 0.8;
  color: #1b1b1b;
}

.searchBar:focus {
  opacity: 1;
  outline: none;
}

::placeholder {
  padding-left: 1rem;
}

/* GIFs styles */

.gifs-wrapper {
  max-width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 3rem;
  padding: 2rem;
}

.gif-card {
  padding: 2rem;
  background-color: #1b1b1b;
  border-radius: 5rem;
}

.gif {
  width: 300px;
  height: 320px;
}

.gif-title {
  color: whitesmoke;
  font: 500 1em var(--primary-font);
  text-align: center;
  padding-top: 2rem;
}
